--find-links https://download.pytorch.org/whl/torch_stable.html
numpy==1.26.4
torch==2.5.1
torchvision==0.20.1
easyocr==1.7.2
OpenCC==0.2
opencc-python-reimplemented==0.1.7
pillow==10.3.0
opencv-python-headless==4.11.0.86
streamlit==1.41.1
